body {
  font-family: arial, sans-serif;
  line-height: 1.5;
  margin: 0;

}
#sidebar {
  list-style-type: none;
}

pre {
  background-color: rgb(241 239 236);
  margin: 15px;
  padding: 15px;
}

#nav-document {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  width: 200px;
  height: 100%;
  border-right: 1px solid black;
  overflow-y: auto;
 }

 #nav-document,
a {
  cursor: pointer;
  display: block;
  text-decoration: none;
  padding: 5px 10px;
}

#content {
  display: flex;
  height: 100vh;
}

#main-content {
  margin-left: 300px;
  margin-bottom: 100px;
  position: absolute;
  padding: 20px;
}
